.label{
  height: 50mm;
  width: 25mm;
  text-align: center;
  line-height: 25mm;
  margin: 2mm;
  font-size: xx-large;
  font-weight: bolder;
  transform: rotate(-90deg);
}

.doc{
  height: 108mm;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.s-doc{
  height: 54mm;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}