.label{
  width: 50mm;
  height: 30mm;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2mm;
  font-size: xx-large;
  font-weight: bolder;
  border: solid black 1px;
}

.doc{
  width: 104mm;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.s-doc{
  width: 54mm;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}