.label{
  width: 500mm;
  height: 250mm;
  text-align: center;
  line-height: 250mm;
  margin: 2mm;
  font-size: xx-large;
  font-weight: bolder;
}

.doc{
  width: 1008mm;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.s-doc{
  width: 504mm;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}