.App {
  text-align: center;
}

.data-input{
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
  justify-content: space-around;
  align-items: center;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hidden{
  display: none;
}

.active-tab{
  width: 100px;
  background-color: turquoise;
}

.inactive-tab{
  width: 100px;
}